.top-header
  .header-bottom
  = image_tag (image_url 'favicon.png'), class: "header-bottom2"
  .header-left
    検索
  .header-right
    ランキング
.second-header
  %ul
    %li
      %a.btn2{:href => "#"} Home
    %li
      %a.btn4{:href => "#"} ランキング
    %li
      %a.btn4{:href => "#"} 予約確認
    %li
      %a.btn4{:href => "#"} 特集
    %li
      %a.btn4{:href => "#"} 行ったお店
    %li
      %a.btn4{:href => "#"} お気に入り
.a
  .b
    %img.c{:src => "assets/logo.png"}/
  .b
    %img.c{:src => "assets/logo.png"}/
  .b
    %img.c{:src => "assets/logo.png"}/
.main-box
  .main-bottom
    .main-top
      .main-title
        %h1
          いきつけレビューアー満足度ランキング
        %a.itiran{:href => "#"} 一覧をみる
      .main-index
        .index-page
          %li.index-item
            .item-page
              .item-out
                .item-rank
                  %b １
                  位
                %a.image
                = image_tag (image_url 'favicon.png'),class:"image1"
                .image-title
                  一蘭